<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968534193190-7ealomjsau8fdlha2t0pbl555u2sad9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968534193190-7ealomjsau8fdlha2t0pbl555u2sad9j</string>
	<key>API_KEY</key>
	<string>AIzaSyDYkgugT4WfF62YeraI1OIPTVu8yOSYF88</string>
	<key>GCM_SENDER_ID</key>
	<string>968534193190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterInstagramClone</string>
	<key>PROJECT_ID</key>
	<string>flutter-instagram-clone-596b4</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-instagram-clone-596b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968534193190:ios:469b101f7290bd8f3fe2e7</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-instagram-clone-596b4.firebaseio.com</string>
</dict>
</plist>